<template lang='pug'>
.root
  ul.menu
    li
      router-link( to="/" exact) Home
      ul
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
    li
      router-link( to="/Billing" ) Billing
      ul
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
    li
      router-link(to="/about") About
  hr
  router-view
</template>
<style lang='scss'>
.menu > li {
  list-style: none;
}

ul.menu li a +ul {
  max-height: 0;
  overflow: hidden;
  transition: 0.7s linear;
}

ul.menu li a.active +ul {
  max-height: 15em;
}
</style>
